*.class
src/main/resources/config.properties
auto-intercom-app/src/main/resources/config.properties
auto-intercom-app/src/main/resources/IntercomNotify.json
auto-intercom-app/target/
main/out/
auto_intercom.sh
start_ngrok.sh
